In [1]:
import sqlite3
import pandas as pd
import numpy as np

# Read data

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_All_Data/FoodBalanceSheets_E_All_Data_NOFLAG.csv', 
                 encoding="ISO-8859-1")
dfh = pd.read_csv('FoodBalanceSheetsHistoric_E_All_Data/FoodBalanceSheetsHistoric_E_All_Data_NOFLAG.csv', 
                 encoding="ISO-8859-1")
print(df.shape, dfh.shape)
df = df[df['Area'] != 'China']
dfh = dfh[dfh['Area'] != 'China']
print(df.shape, dfh.shape)

(390590, 22) (238418, 62)
(388544, 22) (237020, 62)

# Aq_Mammal

In [15]:
dt = df[df['Item Code'] == 2768]
dt = dt[['Area','Element Code','Element','Y2010', 'Y2011', 'Y2012',
        'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
        'Y2021', 'Y2022']
        ]
dt.columns = ['Area', 'Element Code','Element',2010, 2011, 2012,
    2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
    2021,2022]
dth = dfh[dfh['Item Code'] == 2768]
dth = dth[['Area','Element Code','Element','Y1961', 'Y1962', 'Y1963',
    'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
    'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
    'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
    'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
    'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
    'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009']
        ]
dth.columns = ['Area', 'Element Code','Element',1961, 1962, 1963,
    1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
    1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
    1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
    1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
    1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
    2004, 2005, 2006, 2007, 2008, 2009]
country = pd.read_excel('Country.xlsx')
countryH = pd.read_excel('CountryH.xlsx')
dth = dth.melt(
        id_vars=['Area','Element Code','Element'],
        var_name='year',
        value_name = 'val')
dt = dt.melt(
        id_vars=['Area','Element Code','Element'],
        var_name='year',
        value_name = 'val')
f = pd.concat([dth,dt])
f.val = f.val*1000
f.val = abs(f.val)
# f.to_excel('Aq_Mammal.xlsx', index = False)
f = f[f['Area'].isin(['Canada','Chile','Peru','Brazil'])]
f[(f['val']!= 0)].dropna(axis = 0, how = 'any')
# dt

       Area  Element Code          Element  year     val
297   Chile          5511       Production  1965  8000.0
298   Chile          5911  Export Quantity  1965  8000.0
360  Canada          5511       Production  1966  6060.0
361  Canada          5911  Export Quantity  1966  6060.0
369   Chile          5511       Production  1966  4500.0
370   Chile          5911  Export Quantity  1966  4500.0
432  Canada          5511       Production  1967  6520.0
433  Canada          5911  Export Quantity  1967  6520.0
441   Chile          5511       Production  1967  6600.0
442   Chile          5911  Export Quantity  1967  6600.0
504  Canada          5511       Production  1968  5280.0
505  Canada          5911  Export Quantity  1968  5280.0
513   Chile          5511       Production  1968   500.0
514   Chile          5911  Export Quantity  1968   500.0
576  Canada          5511       Production  1969  3710.0
577  Canada          5911  Export Quantity  1969  3710.0
738    Peru          5511       Production  1971  3110.0
739    Peru          5911  Export Quantity  1971  3110.0

In [ ]:
# pd.DataFrame({'Area':list(dfh.Area.unique())}).to_excel('CountryH.xlsx', index = False)

# FAO

In [20]:
fao = pd.read_excel('DataDict.xlsx')
print(fao.shape)
# fao.columns
fao

(168, 34)

,Variable,Table,Group,SubGroup,Series,CoVaTrA,Cohort,Definition,Extended Source Defn,Units,...,Code in Source,Decimal Places,Country Concordance,Formula,DisplayNotes,IFs Group,Item Code,Element Code,Item Code (FBS),Unit
0,AgFishFoodSupplyPerCapPerDayFreshwaterFAO,SeriesAgFishFoodSupplyPerCapPerDayFreshwaterFAO,Agriculture,Fish,Yes,No,No,Total Freshwater Fish used for Food Supply/cap...,values before 2010 are from old FBS method,g/capita/day,...,645.2761,4.0,IFs Country,*1000/365,NaN,NaN,2761.0,645,S2761,kg/capita/yr
1,AgFishFoodSupplyPerCapPerDayDemersalFAO,SeriesAgFishFoodSupplyPerCapPerDayDemersalFAO,Agriculture,Fish,Yes,No,No,Total Demersal Fish for Food Supply/cap/day (g...,values before 2010 are from old FBS method,g/capita/day,...,645.2762,4.0,IFs Country,*1000/365,NaN,NaN,2762.0,645,S2762,kg/capita/yr
2,AgFishFoodSupplyPerCapPerDayPelagicFAO,SeriesAgFishFoodSupplyPerCapPerDayPelagicFAO,Agriculture,Fish,Yes,No,No,Total Pelagic Fish used for Food Supply/capita...,values before 2010 are from old FBS method,g/capita/day,...,645.2763,4.0,IFs Country,*1000/365,NaN,NaN,2763.0,645,S2763,kg/capita/yr
3,AgFishFoodSupplyPerCapPerDayMarineFAO,SeriesAgFishFoodSupplyPerCapPerDayMarineFAO,Agriculture,Fish,Yes,No,No,Total Marine Fish used for Food Suply/capita/d...,values before 2010 are from old FBS method,g/capita/day,...,645.2764,4.0,IFs Country,*1000/365,NaN,NaN,2764.0,645,S2764,kg/capita/yr
4,AgFishFoodSupplyPerCapPerDayCrustaceansFAO,SeriesAgFishFoodSupplyPerCapPerDayCrustaceansFAO,Agriculture,Fish,Yes,No,No,Total Crustaceans Fish used for Food Supply/ca...,values before 2010 are from old FBS method,g/capita/day,...,645.2765,4.0,IFs Country,*1000/365,NaN,NaN,2765.0,645,S2765,kg/capita/yr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,AgFishExportsMealFAO,SeriesAgFishExportsMealFAO,Agriculture,Fish,Yes,No,No,Total Fish Meal Exports (Tonnes),NaN,Tonnes,...,NaN,4.0,IFs Country,NaN,1,NaN,NaN,NaN,NaN,NaN
164,AgFishImportsMealFAO,SeriesAgFishImportsMealFAO,Agriculture,Fish,Yes,No,No,Total Fish Meal Imports (Tonnes),NaN,Tonnes,...,NaN,4.0,IFs Country,NaN,1,NaN,NaN,NaN,NaN,NaN
165,AgFishProdMealFAO,SeriesAgFishProdMealFAO,Agriculture,Fish,Yes,No,No,Production Quantity of Fish Meal (Tonnes),NaN,Tonnes,...,NaN,4.0,IFs Country,NaN,1,NaN,NaN,NaN,NaN,NaN
166,AgFishtoFeedMealFAO,SeriesAgFishtoFeedMealFAO,Agriculture,Fish,Yes,No,No,Total Fish Meal used for Feed (Tonnes),NaN,Tonnes,...,NaN,4.0,IFs Country,NaN,1,NaN,NaN,NaN,NaN,NaN
167,AgFishtoOtherUtilMealFAO,SeriesAgFishtoOtherUtilMealFAO,Agriculture,Fish,Yes,No,No,Total Fish Meal used for Other Utilities (Tonnes),NaN,Tonnes,...,NaN,4.0,IFs Country,NaN,1,NaN,NaN,NaN,NaN,NaN

## Country

In [4]:
country = pd.read_excel('Country.xlsx')
countryH = pd.read_excel('CountryH.xlsx')

## FAO_FBS

In [21]:
fao_fbs = fao[fao['DisplayNotes'].isnull()
              ]
fao_fbs.shape

(147, 34)

### fao_utl

#### Crops

In [10]:
fao_utl = fao[fao['DisplayNotes'] == 'Other']
dd = fao_utl[fao_utl['IFs Group'] == 'Crops']

cf_agg = pd.read_excel('FAO FBS aggregation.xlsx')
agg = cf_agg[cf_agg['IFs Group'] == 'Crops']

dt = df[df['Element Code'].isin([5154,5171])]
dth = dfh[dfh['Element Code'].isin([5154,5171])]

dt = dt[dt['Item Code'].isin(agg['Item Code'])]
dth = dth[dth['Item Code'].isin(agg['Item Code'])]

for j in dd.index:
    v = dd.loc[j,'Variable']
    # m = dd.loc[j,'Element Code']
    i = dd.loc[j,'Item Code']
    u = dd.loc[j,'Units']
    if dd.isnull().loc[j,'Formula']:
        f = dd.loc[j,'Formula']
    else:
        f = "val" + str(dd.loc[j,'Formula'])
    if dd.isnull().loc[j,'Decimal Places']:
        d = dd.loc[j,'Decimal Places']
    else:
        d = int(dd.loc[j,'Decimal Places'])
    print(v,u,f,d)
    # dt1 = dt[dt['Item Code'] == i]
    dt1 = dt[['Area','Y2010', 'Y2011', 'Y2012',
        'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
        'Y2021']
        ]
    dt1.columns = ['Area', 2010, 2011, 2012,
    2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
    2021]
    dt1 = dt1.melt(
        id_vars='Area',
        var_name='year',
        value_name = 'val')
    
    if dd.isnull().loc[j,'Formula']:
        dt1 = dt1
    else:
        dt1.val = dt1.eval(f)
    if dd.isnull().loc[j,'Decimal Places']:
        dt1 = dt1
    else:
        dt1.val = round(dt1.val, d)
    # print(dt1.shape)
    dt1 = country.merge(dt1,
                        on = 'Area',
                        how = 'left')
    dt1.drop(columns='Area',
            inplace=True)
    # dth1 = dth[dth['Item Code'] == i]
    dth1 = dth[['Area','Y1961', 'Y1962', 'Y1963',
    'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
    'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
    'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
    'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
    'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
    'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009']
        ]
    dth1.columns = ['Area', 1961, 1962, 1963,
    1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
    1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
    1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
    1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
    1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
    2004, 2005, 2006, 2007, 2008, 2009]
    dth1 = dth1.melt(
        id_vars='Area',
        var_name='year',
        value_name = 'val')
    if dd.isnull().loc[j,'Formula']:
        dth1 = dth1
    else:
        dth1.val = dth1.eval(f)
    if dd.isnull().loc[j,'Decimal Places']:
        dth1 = dth1
    else:
        dth1.val = round(dth1.val, d)
    dth1 = countryH.merge(dth1,
                        on = 'Area',
                        how = 'left')
    dth1.drop(columns='Area',
            inplace=True)
    # print(dth1.shape)
    
    final = pd.concat([dt1,dth1])
    final = final.groupby(['Country', 'FIPS_CODE','year']).sum(min_count=1).reset_index()
    first_last = final.sort_values(['Country','year']).groupby(final['Country'])['val'] \
        .agg(['first', 'last']).reset_index()
    first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})
    final = final.pivot_table(index = ['Country', 'FIPS_CODE'],
                    columns='year',
                    values = 'val').reset_index()
    final = final.merge(first_last,
                        on = 'Country',
                        how = 'left'
                        )
    final = country.merge(final,
                        on = ['Country','FIPS_CODE'],
                        how = 'left')
    final.drop(columns='Area', inplace = True)
    final.dropna(axis = 0, how = 'all', inplace=True)
    final = final.drop_duplicates(ignore_index=True)
    print(v)
    final = final.sort_values(by='Country')
    final = final.set_index(['Country','FIPS_CODE'])
    if dd.isnull().loc[j,'Decimal Places']:
        final = final
    else:
        final = final.apply(lambda x: pd.Series.round(x, d))
    final.to_csv(f'IFs Import/{v}.csv',
                #  index=False
                 )
final

AGCroptoOtherUtilFAO Tonnes val*1000 nan
AGCroptoOtherUtilFAO

,,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2014,2015,2016,2017,2018,2019,2020,2021,Earliest,MostRecent
Country,FIPS_CODE,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,5000.0,5000.0,5000.0,5000.0,6000.0,8000.0,14000.0,17000.0,16000.0,15000.0,...,9000.0,12000.0,27000.0,28000.0,35000.0,36000.0,30000.0,20000.0,5000.0,20000.0
Albania,ALB,6000.0,16000.0,2000.0,6000.0,6000.0,3000.0,2000.0,9000.0,2000.0,2000.0,...,158000.0,154000.0,146000.0,149000.0,124000.0,141000.0,148000.0,99000.0,6000.0,99000.0
Algeria,DZA,29000.0,3000.0,24000.0,17000.0,18000.0,18000.0,18000.0,24000.0,29000.0,22000.0,...,2126000.0,2767000.0,3070000.0,2740000.0,3410000.0,3395000.0,1674000.0,1868000.0,29000.0,1868000.0
Angola,AGO,61000.0,31000.0,36000.0,68000.0,50000.0,75000.0,9000.0,16000.0,19000.0,12000.0,...,194000.0,149000.0,178000.0,180000.0,196000.0,203000.0,248000.0,254000.0,61000.0,254000.0
Argentina,ARG,42000.0,45000.0,49000.0,52000.0,53000.0,207000.0,239000.0,203000.0,222000.0,239000.0,...,5738000.0,5071000.0,5784000.0,7294000.0,6656000.0,6691000.0,5692000.0,7968000.0,42000.0,7968000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic",VEN,6000.0,5000.0,4000.0,8000.0,8000.0,8000.0,7000.0,7000.0,7000.0,9000.0,...,111000.0,101000.0,78000.0,67000.0,67000.0,62000.0,107000.0,91000.0,6000.0,91000.0
Viet Nam,VNM,327000.0,346000.0,369000.0,394000.0,414000.0,363000.0,320000.0,257000.0,238000.0,279000.0,...,2229000.0,1781000.0,1411000.0,2213000.0,1739000.0,1491000.0,1819000.0,1800000.0,327000.0,1800000.0
Yemen,YEM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10000.0,3000.0,5000.0,2000.0,1000.0,4000.0,8000.0,5000.0,0.0,5000.0
Zambia,ZMB,0.0,0.0,0.0,0.0,0.0,1000.0,2000.0,2000.0,2000.0,3000.0,...,212000.0,207000.0,715000.0,1721000.0,1631000.0,203000.0,365000.0,207000.0,0.0,207000.0
Zimbabwe,ZWE,2000.0,0.0,1000.0,1000.0,2000.0,2000.0,3000.0,4000.0,3000.0,4000.0,...,26000.0,26000.0,30000.0,52000.0,71000.0,30000.0,75000.0,70000.0,2000.0,70000.0

#### Meat

In [9]:
fao_utl = fao[fao['DisplayNotes'] == 'Other']
dd = fao_utl[fao_utl['IFs Group'] == 'Meat']

cf_agg = pd.read_excel('FAO FBS aggregation.xlsx')
agg = cf_agg[cf_agg['IFs Group'] == 'Meat']

dt = df[df['Element Code'].isin([5154,5171])]
dth = dfh[dfh['Element Code'].isin([5154,5171])]

dt = dt[dt['Item Code'].isin(agg['Item Code'])]
dth = dth[dth['Item Code'].isin(agg['Item Code'])]

for j in dd.index:
    v = dd.loc[j,'Variable']
    # m = dd.loc[j,'Element Code']
    i = dd.loc[j,'Item Code']
    u = dd.loc[j,'Units']
    if dd.isnull().loc[j,'Formula']:
        f = dd.loc[j,'Formula']
    else:
        f = "val" + str(dd.loc[j,'Formula'])
    if dd.isnull().loc[j,'Decimal Places']:
        d = dd.loc[j,'Decimal Places']
    else:
        d = int(dd.loc[j,'Decimal Places'])
    print(v,u,f,d)
    # dt1 = dt[dt['Item Code'] == i]
    dt1 = dt[['Area','Y2010', 'Y2011', 'Y2012',
        'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
        'Y2021']
        ]
    dt1.columns = ['Area', 2010, 2011, 2012,
    2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
    2021]
    dt1 = dt1.melt(
        id_vars='Area',
        var_name='year',
        value_name = 'val')
    
    if dd.isnull().loc[j,'Formula']:
        dt1 = dt1
    else:
        dt1.val = dt1.eval(f)
    if dd.isnull().loc[j,'Decimal Places']:
        dt1 = dt1
    else:
        dt1.val = round(dt1.val, d)
    # print(dt1.shape)
    dt1 = country.merge(dt1,
                        on = 'Area',
                        how = 'left')
    dt1.drop(columns='Area',
            inplace=True)
    # dth1 = dth[dth['Item Code'] == i]
    dth1 = dth[['Area','Y1961', 'Y1962', 'Y1963',
    'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
    'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
    'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
    'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
    'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
    'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009']
        ]
    dth1.columns = ['Area', 1961, 1962, 1963,
    1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
    1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
    1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
    1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
    1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
    2004, 2005, 2006, 2007, 2008, 2009]
    dth1 = dth1.melt(
        id_vars='Area',
        var_name='year',
        value_name = 'val')
    if dd.isnull().loc[j,'Formula']:
        dth1 = dth1
    else:
        dth1.val = dth1.eval(f)
    if dd.isnull().loc[j,'Decimal Places']:
        dth1 = dth1
    else:
        dth1.val = round(dth1.val, d)
    dth1 = countryH.merge(dth1,
                        on = 'Area',
                        how = 'left')
    dth1.drop(columns='Area',
            inplace=True)
    # print(dth1.shape)
    
    final = pd.concat([dt1,dth1])
    final = final.groupby(['Country', 'FIPS_CODE','year']).sum(min_count=1).reset_index()
    first_last = final.sort_values(['Country','year']).groupby(final['Country'])['val'] \
        .agg(['first', 'last']).reset_index()
    first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})
    final = final.pivot_table(index = ['Country', 'FIPS_CODE'],
                    columns='year',
                    values = 'val').reset_index()
    final = final.merge(first_last,
                        on = 'Country',
                        how = 'left'
                        )
    final = country.merge(final,
                        on = ['Country','FIPS_CODE'],
                        how = 'left')
    final.drop(columns='Area', inplace = True)
    final.dropna(axis = 0, how = 'all', inplace=True)
    final = final.drop_duplicates(ignore_index=True)
    print(v)
    final = final.sort_values(by='Country')
    final = final.set_index(['Country','FIPS_CODE'])
    if dd.isnull().loc[j,'Decimal Places']:
        final = final
    else:
        final = final.apply(lambda x: pd.Series.round(x, d))
    final.to_csv(f'IFs Import/{v}.csv',
                #  index=False
                 )
final

AGMeattoOtherUtilFAO Tonnes val*1000 nan
AGMeattoOtherUtilFAO

,,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2014,2015,2016,2017,2018,2019,2020,2021,Earliest,MostRecent
Country,FIPS_CODE,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1000.0,0.0,2000.0,0.0,4000.0,NaN,0.0,0.0,0.0
Algeria,DZA,1000.0,1000.0,3000.0,4000.0,6000.0,6000.0,8000.0,8000.0,11000.0,11000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0,0.0
Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Argentina,ARG,1404000.0,1344000.0,1369000.0,1255000.0,1023000.0,1055000.0,988000.0,897000.0,768000.0,640000.0,...,76000.0,49000.0,57000.0,69000.0,74000.0,112000.0,125000.0,109000.0,1404000.0,109000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic",VEN,20000.0,22000.0,22000.0,31000.0,29000.0,31000.0,31000.0,34000.0,31000.0,31000.0,...,3000.0,1000.0,1000.0,2000.0,1000.0,2000.0,10000.0,6000.0,20000.0,6000.0
Viet Nam,VNM,0.0,0.0,0.0,1000.0,1000.0,1000.0,0.0,3000.0,3000.0,2000.0,...,2000.0,2000.0,2000.0,2000.0,2000.0,3000.0,8000.0,6000.0,0.0,6000.0
Yemen,YEM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2000.0,1000.0,NaN,2000.0,0.0,NaN,0.0,0.0,0.0,0.0
Zambia,ZMB,4000.0,4000.0,4000.0,4000.0,7000.0,5000.0,4000.0,3000.0,2000.0,6000.0,...,1000.0,0.0,0.0,1000.0,1000.0,1000.0,1000.0,0.0,4000.0,0.0
Zimbabwe,ZWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1000.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Other

In [11]:
fao_utl = fao[fao['DisplayNotes'] == 'Other']
dd = fao_utl[fao_utl['IFs Group'].isna()]
print(dd.shape)

dt = df[df['Element Code'].isin([5154,5171])]
dth = dfh[dfh['Element Code'].isin([5154,5171])]

dt = dt[dt['Item Code'].isin(dd['Item Code'])]
dth = dth[dth['Item Code'].isin(dd['Item Code'])]



for j in dd.index:
    v = dd.loc[j,'Variable']
    # m = dd.loc[j,'Element Code']
    i = dd.loc[j,'Item Code']
    u = dd.loc[j,'Units']
    if dd.isnull().loc[j,'Formula']:
        f = dd.loc[j,'Formula']
    else:
        f = "val" + str(dd.loc[j,'Formula'])
    if dd.isnull().loc[j,'Decimal Places']:
        d = dd.loc[j,'Decimal Places']
    else:
        d = int(dd.loc[j,'Decimal Places'])
    print(v,u,f,d)
    dt1 = dt[dt['Item Code'] == i]
    dt1 = dt1[['Area','Y2010', 'Y2011', 'Y2012',
        'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
        'Y2021']
        ]
    dt1.columns = ['Area', 2010, 2011, 2012,
    2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
    2021]
    dt1 = dt1.melt(
        id_vars='Area',
        var_name='year',
        value_name = 'val')
    
    if dd.isnull().loc[j,'Formula']:
        dt1 = dt1
    else:
        dt1.val = dt1.eval(f)
    if dd.isnull().loc[j,'Decimal Places']:
        dt1 = dt1
    else:
        dt1.val = round(dt1.val, d)
    # print(dt1.shape)
    dt1 = country.merge(dt1,
                        on = 'Area',
                        how = 'left')
    dt1.drop(columns='Area',
            inplace=True)
    dth1 = dth[dth['Item Code'] == i]
    dth1 = dth1[['Area','Y1961', 'Y1962', 'Y1963',
    'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
    'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
    'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
    'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
    'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
    'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009']
        ]
    dth1.columns = ['Area', 1961, 1962, 1963,
    1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
    1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
    1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
    1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
    1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
    2004, 2005, 2006, 2007, 2008, 2009]
    dth1 = dth1.melt(
        id_vars='Area',
        var_name='year',
        value_name = 'val')
    if dd.isnull().loc[j,'Formula']:
        dth1 = dth1
    else:
        dth1.val = dth1.eval(f)
    if dd.isnull().loc[j,'Decimal Places']:
        dth1 = dth1
    else:
        dth1.val = round(dth1.val, d)
    dth1 = countryH.merge(dth1,
                        on = 'Area',
                        how = 'left')
    dth1.drop(columns='Area',
            inplace=True)
    # print(dth1.shape)
    
    final = pd.concat([dt1,dth1])
    final = final.groupby(['Country', 'FIPS_CODE','year']).sum(min_count=1).reset_index()
    first_last = final.sort_values(['Country','year']).groupby(final['Country'])['val'] \
        .agg(['first', 'last']).reset_index()
    first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})
    final = final.pivot_table(index = ['Country', 'FIPS_CODE'],
                    columns='year',
                    values = 'val').reset_index()
    final = final.merge(first_last,
                        on = 'Country',
                        how = 'left'
                        )
    final = country.merge(final,
                        on = ['Country','FIPS_CODE'],
                        how = 'left')
    final.drop(columns='Area', inplace = True)
    final.dropna(axis = 0, how = 'all', inplace=True)
    final = final.drop_duplicates(ignore_index=True)
    print(v)
    final = final.sort_values(by='Country')
    final = final.set_index(['Country','FIPS_CODE'])
    if dd.isnull().loc[j,'Decimal Places']:
        final = final
    else:
        final = final.apply(lambda x: pd.Series.round(x, d))
    final.to_csv(f'IFs Import/{v}.csv',
                #  index=False
                 )
final

AgFishtoOtherUtilFreshwaterFAO Tonnes val*1000 4
AgFishtoOtherUtilFreshwaterFAO
AgFishtoOtherUtilDemersalFAO Tonnes val*1000 4
AgFishtoOtherUtilDemersalFAO
AgFishtoOtherUtilPelagicFAO Tonnes val*1000 4
AgFishtoOtherUtilPelagicFAO
AgFishtoOtherUtilMarineFAO Tonnes val*1000 4
AgFishtoOtherUtilMarineFAO
AgFishtoOtherUtilCrustaceansFAO Tonnes val*1000 4
AgFishtoOtherUtilCrustaceansFAO
AgFishtoOtherUtilCephalopodsFAO Tonnes val*1000 4
AgFishtoOtherUtilCephalopodsFAO
AgFishtoOtherUtilMolluscsFAO Tonnes val*1000 4
AgFishtoOtherUtilMolluscsFAO
AgFishtoOtherUtilAqAnimalsFAO Tonnes val*1000 4
AgFishtoOtherUtilAqAnimalsFAO
AgFishtoOtherUtilAqPlantsFAO Tonnes val*1000 4
AgFishtoOtherUtilAqPlantsFAO
AgFishtoOtherUtilBodyOilFAO Tonnes val*1000 4
AgFishtoOtherUtilBodyOilFAO
AgFishtoOtherUtilLiverOilFAO Tonnes val*1000 4
AgFishtoOtherUtilLiverOilFAO
AGMeattoOtherUtilFAO Tonnes val*1000 nan
AGMeattoOtherUtilFAO

,,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2014,2015,2016,2017,2018,2019,2020,2021,Earliest,MostRecent
Country,FIPS_CODE,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,DZA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic",VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Viet Nam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,ZWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Crops & FruVeg & Meat

In [17]:
fao_cf = fao_fbs[fao_fbs['IFs Group'].isin(['Crops','FruVeg','Meat'])]
print(fao_cf.shape)
cf_agg = pd.read_excel('FAO FBS aggregation.xlsx')
cf_agg = cf_agg[cf_agg['IFs Group'].isin(['Crops','FruVeg','Meat'])]
# print(dt['Item Code'].unique())
# cf_agg
for group in ['Crops','FruVeg', 'Meat']:
    dd = fao_cf[fao_cf['IFs Group'] == group]
    agg = cf_agg[cf_agg['IFs Group'] == group]
    # dd
    dt = df[df['Item Code'].isin(agg['Item Code'])]
    dth = dfh[dfh['Item Code'].isin(agg['Item Code'])]
    # print(dt['Item Code'].unique())
    # print(dt['Element Code'].unique())
    # print(dth['Item Code'].unique())
    # print(dth['Element Code'].unique())
    for j in dd.index:
        v = dd.loc[j,'Variable']
        m = dd.loc[j,'Element Code']
        u = dd.loc[j,'Units']
        if dd.isnull().loc[j,'Formula']:
            f = dd.loc[j,'Formula']
        else:
            f = "val" + str(dd.loc[j,'Formula'])
        if dd.isnull().loc[j,'Decimal Places']:
            d = dd.loc[j,'Decimal Places']
        else:
            d = int(dd.loc[j,'Decimal Places'])
        # print(v,m,u,f,d)

        dt1 = dt[dt['Element Code'] == m]
        dt1 = dt1[['Area','Y2010', 'Y2011', 'Y2012',
            'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
            'Y2021']
            ]
        dt1.columns = ['Area', 2010, 2011, 2012,
            2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
            2021]

        dt1 = dt1.melt(
            id_vars='Area',
            var_name='year',
            value_name = 'val')
        
        if dd.isnull().loc[j,'Formula']:
            dt1 = dt1
        else:
            dt1.val = dt1.eval(f)

        if dd.isnull().loc[j,'Decimal Places']:
            dt1 = dt1
        else:
            dt1.val = round(dt1.val, d)
        # print(dt1.shape)
        dt1 = country.merge(dt1,
                            on = 'Area',
                            how = 'left')
        dt1.drop(columns='Area',
                inplace=True)

        dth1 = dth[dth['Element Code'] == m]
        dth1 = dth1[['Area','Y1961', 'Y1962', 'Y1963',
        'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
        'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
        'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
        'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
        'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
        'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009']
            ]
        dth1.columns = ['Area', 1961, 1962, 1963,
        1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
        1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
        1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
        1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
        1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
        2004, 2005, 2006, 2007, 2008, 2009]

        dth1 = dth1.melt(
            id_vars='Area',
            var_name='year',
            value_name = 'val')
        
        if dd.isnull().loc[j,'Formula']:
            dth1 = dth1
        else:
            dth1.val = dth1.eval(f)

        if dd.isnull().loc[j,'Decimal Places']:
            dth1 = dth1
        else:
            dth1.val = round(dth1.val, d)
        dth1 = countryH.merge(dth1,
                            on = 'Area',
                            how = 'left')
        dth1.drop(columns='Area',
                inplace=True)
        # print(dth1.shape)
        
        final = pd.concat([dt1,dth1])
        final = final.groupby(['Country', 'FIPS_CODE','year']).sum(min_count=1).reset_index()
        first_last = final.sort_values(['Country','year']).groupby(final['Country'])['val'] \
            .agg(['first', 'last']).reset_index()
        first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})
        final = final.pivot_table(index = ['Country', 'FIPS_CODE'],
                        columns='year',
                        values = 'val').reset_index()
        final = final.merge(first_last,
                            on = 'Country',
                            how = 'left'
                            )
        final = country.merge(final,
                            on = ['Country','FIPS_CODE'],
                            how = 'left')
        final.drop(columns='Area', inplace = True)
        final.dropna(axis = 0, how = 'all', inplace=True)
        final = final.drop_duplicates(ignore_index=True)
        print(v)
        final = final.sort_values(by='Country')
        final = final.set_index(['Country','FIPS_CODE'])
        if dd.isnull().loc[j,'Decimal Places']:
            final = final
        else:
            final = final.apply(lambda x: pd.Series.round(x, d))
        final.to_csv(f'IFs Import/{v}.csv',
                    #  index=False
                     )
    
final

(28, 34)
AGCropFoodSupplyPerCapPerDayFAO
AGCropCalPerCapPerDayFAO
AGCropProteinPerCapPerDayFAO
AGCroptoWasteFAO
AGCroptoFoodManuFAO
AGCroptoFoodFAO
AGCropDomesticSupplyFAO
AGCropProductionFAO
AGCroptoFeedFAO
AGCroptoSeedFAO
AGCropImportsFAO
AGCropExportsFAO
AgFruVegIm
AgFruVegEx
AGMeatFoodSupplyPerCapPerDayFAO
AGMeatCalPerCapPerDayFAO
AGMeatProteinPerCapPerDayFAO
AGMeattoWasteFAO
AGMeattoFoodManuFAO
AGMeattoFoodFAO
AGMeatDomesticSupplyFAO
AGMeatProductionFAO
AGMeattoFeedFAO
AGMeattoSeedFAO
AgMeatIm
AGMeatImportsFAO
AgMeatEx
AGMeatExportsFAO

,,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2014,2015,2016,2017,2018,2019,2020,2021,Earliest,MostRecent
Country,FIPS_CODE,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Albania,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1000.0,2000.0,1000.0,0.0,1000.0,2000.0,0.0,0.0,0.0
Algeria,DZA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6000.0,6000.0,2000.0,3000.0,9000.0,24000.0,4000.0,3000.0,0.0,3000.0
Angola,AGO,3000.0,2000.0,2000.0,2000.0,2000.0,3000.0,3000.0,3000.0,2000.0,2000.0,...,0.0,0.0,0.0,0.0,0.0,6000.0,1000.0,0.0,3000.0,0.0
Argentina,ARG,673000.0,775000.0,1074000.0,830000.0,748000.0,956000.0,1054000.0,850000.0,1237000.0,1082000.0,...,2834000.0,2615000.0,2246000.0,2034000.0,2710000.0,2806000.0,3346000.0,2991000.0,673000.0,2991000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic",VEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1000.0,2000.0,0.0,1000.0,0.0,2000.0,0.0,1000.0,0.0,1000.0
Viet Nam,VNM,1000.0,2000.0,2000.0,3000.0,3000.0,0.0,0.0,0.0,0.0,0.0,...,243000.0,223000.0,226000.0,206000.0,288000.0,319000.0,384000.0,345000.0,1000.0,345000.0
Yemen,YEM,2000.0,3000.0,2000.0,2000.0,4000.0,4000.0,3000.0,2000.0,2000.0,1000.0,...,46000.0,37000.0,11000.0,27000.0,17000.0,9000.0,13000.0,18000.0,2000.0,18000.0
Zambia,ZMB,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4000.0,4000.0,10000.0,10000.0,17000.0,28000.0,39000.0,125000.0,0.0,125000.0
Zimbabwe,ZWE,21000.0,22000.0,22000.0,33000.0,42000.0,44000.0,36000.0,36000.0,36000.0,41000.0,...,0.0,1000.0,0.0,1000.0,0.0,7000.0,4000.0,3000.0,21000.0,3000.0

### Other

In [22]:
fao_other = fao_fbs[~fao_fbs['IFs Group'].isin(['Crops','FruVeg','Meat'])]
print(fao_other.shape)
# print(len(fao_other['Item Code'].values))
# print(len(fao_other['Element Code'].values))
dt = df
dth = dfh

(121, 34)

In [23]:
dd = fao_other
# dd = fao_other[fao_other['Variable'] == 'AgProdCereals']
for j in dd.index:
    v = dd.loc[j,'Variable']
    m = dd.loc[j,'Element Code']
    u = dd.loc[j,'Units']
    if dd.isnull().loc[j,'Formula']:
        f = dd.loc[j,'Formula']
    else:
        f = "val" + str(dd.loc[j,'Formula'])
    if dd.isnull().loc[j,'Decimal Places']:
        d = dd.loc[j,'Decimal Places']
    else:
        d = int(dd.loc[j,'Decimal Places'])
    # print(v,m,u,f,d)
    item = dd.loc[j,'Item Code']
    # print(item)
    dt1 = dt[dt['Element Code'] == m]
    dt1 = dt1[dt1['Item Code'] == item]
    dt1 = dt1[['Area','Y2010', 'Y2011', 'Y2012',
        'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
        'Y2021']
        ]
    dt1.columns = ['Area', 2010, 2011, 2012,
        2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
        2021]
    dt1 = dt1.melt(
        id_vars='Area',
        var_name='year',
        value_name = 'val')
    
    if dd.isnull().loc[j,'Formula']:
        dt1 = dt1
    else:
        dt1.val = dt1.eval(f)
    if dd.isnull().loc[j,'Decimal Places']:
        dt1 = dt1
    else:
        dt1.val = round(dt1.val, d)
    # print(dt1.shape)
    dt1 = country.merge(dt1,
                        on = 'Area',
                        how = 'left')
    dt1.drop(columns='Area',
            inplace=True)
    dth1 = dth[dth['Element Code'] == m]
    dth1 = dth1[dth1['Item Code'] == item]
    dth1 = dth1[['Area','Y1961', 'Y1962', 'Y1963',
    'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
    'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
    'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
    'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
    'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
    'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009']
        ]
    dth1.columns = ['Area', 1961, 1962, 1963,
    1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
    1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979,
    1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
    1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
    1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
    2004, 2005, 2006, 2007, 2008, 2009]
    dth1 = dth1.melt(
        id_vars='Area',
        var_name='year',
        value_name = 'val')
    
    if dd.isnull().loc[j,'Formula']:
        dth1 = dth1
    else:
        dth1.val = dth1.eval(f)
    if dd.isnull().loc[j,'Decimal Places']:
        dth1 = dth1
    else:
        dth1.val = round(dth1.val, d)
    dth1 = countryH.merge(dth1,
                        on = 'Area',
                        how = 'left')
    dth1.drop(columns='Area',
            inplace=True)
    # print(dth1.shape)
    
    final = pd.concat([dt1,dth1])
    final = final.groupby(['Country', 'FIPS_CODE','year']).sum(min_count=1).reset_index()
    first_last = final.sort_values(['Country','year']).groupby(final['Country'])['val'] \
        .agg(['first', 'last']).reset_index()
    first_last = first_last.rename(columns={"first": "Earliest", "last": "MostRecent"})
    final = final.pivot_table(index = ['Country', 'FIPS_CODE'],
                    columns='year',
                    values = 'val').reset_index()
    final = final.merge(first_last,
                        on = 'Country',
                        how = 'left'
                        )
    final = country.merge(final,
                        on = ['Country','FIPS_CODE'],
                        how = 'left')
    final.drop(columns='Area', inplace = True)
    final.dropna(axis = 0, how = 'all', inplace=True)
    final = final.drop_duplicates(ignore_index=True)
    print(v, dt1.shape, dth1.shape)
    final = final.sort_values(by='Country')
    final = final.set_index(['Country','FIPS_CODE'])
    if dd.isnull().loc[j,'Decimal Places']:
        final = final
    else:
        final = final.apply(lambda x: pd.Series.round(x, d))
    final.to_csv(f'IFs Import/{v}.csv',
                #  index=False
                 )
    # final.to_csv(f'{v}.csv')

AgFishFoodSupplyPerCapPerDayFreshwaterFAO (2147, 4) (8547, 4)
AgFishFoodSupplyPerCapPerDayDemersalFAO (2147, 4) (8499, 4)
AgFishFoodSupplyPerCapPerDayPelagicFAO (2147, 4) (8499, 4)
AgFishFoodSupplyPerCapPerDayMarineFAO (2136, 4) (8451, 4)
AgFishFoodSupplyPerCapPerDayCrustaceansFAO (2147, 4) (8451, 4)
AgFishFoodSupplyPerCapPerDayCephalopodsFAO (2136, 4) (8307, 4)
AgFishFoodSupplyPerCapPerDayMolluscsFAO (2147, 4) (8403, 4)
AgFishFoodSupplyPerCapPerDayAqAnimalsFAO (2114, 4) (6627, 4)
AgFishFoodSupplyPerCapPerDayAqPlantsFAO (222, 4) (7827, 4)
AgFishFoodSupplyPerCapPerDayBodyOilFAO (310, 4) (7779, 4)
AgFishFoodSupplyPerCapPerDayLiverOilFAO (750, 4) (7155, 4)
AgFishCalPerCapPerDayFreshwaterFAO (2147, 4) (8547, 4)
AgFishCalPerCapPerDayDemersalFAO (2147, 4) (8499, 4)
AgFishCalPerCapPerDayPelagicFAO (2147, 4) (8499, 4)
AgFishCalPerCapPerDayMarineFAO (2136, 4) (8451, 4)
AgFishCalPerCapPerDayCrustaceansFAO (2147, 4) (8451, 4)
AgFishCalPerCapPerDayCephalopodsFAO (2136, 4) (8307, 4)
AgFishCalPerCapPerDayMolluscsFAO (2147, 4) (8403, 4)
AgFishCalPerCapPerDayAqAnimalsFAO (2114, 4) (6627, 4)
AgFishCalPerCapPerDayAqPlantsFAO (222, 4) (7827, 4)
AgFishCalPerCapPerDayBodyOilFAO (310, 4) (7779, 4)
AgFishCalPerCapPerDayLiverOilFAO (750, 4) (7155, 4)
AgFishProteinPerCapPerDayFreshwaterFAO (2147, 4) (8547, 4)
AgFishProteinPerCapPerDayDemersalFAO (2147, 4) (8499, 4)
AgFishProteinPerCapPerDayPelagicFAO (2147, 4) (8499, 4)
AgFishProteinPerCapPerDayMarineFAO (2136, 4) (8451, 4)
AgFishProteinPerCapPerDayCrustaceansFAO (2147, 4) (8451, 4)
AgFishProteinPerCapPerDayCephalopodsFAO (2136, 4) (8307, 4)
AgFishProteinPerCapPerDayMolluscsFAO (2147, 4) (8403, 4)
AgFishProteinPerCapPerDayAqAnimalsFAO (2114, 4) (6627, 4)
AgFishProteinPerCapPerDayAqPlantsFAO (222, 4) (7827, 4)
AgFishProteinPerCapPerDayBodyOilFAO (310, 4) (7779, 4)
AgFishProteinPerCapPerDayLiverOilFAO (750, 4) (7155, 4)
AgFishtoFoodFreshwaterFAO (2147, 4) (8547, 4)
AgFishtoFoodDemersalFAO (2147, 4) (8499, 4)
AgFishtoFoodPelagicFAO (2147, 4) (8499, 4)
AgFishtoFoodMarineFAO (2136, 4) (8451, 4)
AgFishtoFoodCrustaceansFAO (2147, 4) (8451, 4)
AgFishtoFoodCephalopodsFAO (2136, 4) (8307, 4)
AgFishtoFoodMolluscsFAO (2147, 4) (8403, 4)
AgFishtoFoodAqAnimalsFAO (2114, 4) (6627, 4)
AgFishtoFoodAqPlantsFAO (222, 4) (7827, 4)
AgFishtoFoodBodyOilFAO (310, 4) (7779, 4)
AgFishtoFoodLiverOilFAO (750, 4) (7155, 4)
AgFishDomesticSupplyFreshwaterFAO (2147, 4) (8547, 4)
AgFishDomesticSupplyDemersalFAO (2147, 4) (8499, 4)
AgFishDomesticSupplyPelagicFAO (2147, 4) (8499, 4)
AgFishDomesticSupplyMarineFAO (2136, 4) (8451, 4)
AgFishDomesticSupplyCrustaceansFAO (2147, 4) (8451, 4)
AgFishDomesticSupplyCephalopodsFAO (2147, 4) (8307, 4)
AgFishDomesticSupplyMolluscsFAO (2147, 4) (8403, 4)
AgFishDomesticSupplyAqAnimalsFAO (2125, 4) (6627, 4)
AgFishDomesticSupplyAqPlantsFAO (2147, 4) (7827, 4)
AgFishDomesticSupplyBodyOilFAO (2070, 4) (7779, 4)
AgFishDomesticSupplyLiverOilFAO (2026, 4) (7155, 4)
AgBovineMeatProductionFAO (2125, 4) (8403, 4)
AgMuttonandGoatMeatProductionFAO (2081, 4) (8211, 4)
AgPigMeatProductionFAO (1982, 4) (7875, 4)
AgPoultryMeatProductionFAO (2125, 4) (8451, 4)
AgMeatOtherProductionFAO (1916, 4) (6963, 4)
AgFishProdFreshwaterFAO (2147, 4) (8259, 4)
AgFishProdDemersalFAO (1850, 4) (6675, 4)
AgFishProdPelagicFAO (1839, 4) (6675, 4)
AgFishProdMarineFAO (1828, 4) (6627, 4)
AgFishProdCrustaceansFAO (1927, 4) (7107, 4)
AgFishProdCephalopodsFAO (1751, 4) (5859, 4)
AgFishProdMolluscsFAO (1696, 4) (5571, 4)
AgFishProdAqAnimalsFAO (1608, 4) (4371, 4)
AgFishProdAqPlantsFAO (1234, 4) (3699, 4)
AgFishProdBodyOilFAO (1300, 4) (4755, 4)
AgFishProdLiverOilFAO (1025, 4) (3219, 4)
AgProdCereals (2114, 4) (8355, 4)
AgProdRootsTub (2136, 4) (8499, 4)
AgProdPulses (2037, 4) (7923, 4)
AgProdFruitsExclMelons (2147, 4) (8547, 4)
AgFishtoFeedFreshwaterFAO (1399, 4) (915, 4)
AgFishtoFeedDemersalFAO (1377, 4) (1683, 4)
AgFishtoFeedPelagicFAO (2059, 4) (7731, 4)
AgFishtoFeedMarineFAO (1377, 4) (2307, 4)
AgFishtoFeedCrustaceansFAO (1333, 4) (1059, 4)
AgFishtoFeedCephalopodsFAO (1322, 4) (531, 4)
AgFishtoFeedMolluscsFAO (1322, 4) (339, 4)
AgFishtoFeedAqPlantsFAO (211, 4) (291, 4)
AgFishtoFeedBodyOilFAO (1179, 4) (4995, 4)
AgFishtoFeedLiverOilFAO (464, 4) (1203, 4)
AgFishtoSeedFreshwaterFAO (1322, 4) (387, 4)
AgFishtoSeedDemersalFAO (1322, 4) (387, 4)
AgFishtoSeedPelagicFAO (1344, 4) (579, 4)
AgFishtoSeedMarineFAO (1421, 4) (435, 4)
AgFishtoSeedCrustaceansFAO (1355, 4) (339, 4)
AgFishtoSeedCephalopodsFAO (1322, 4) (387, 4)
AgFishtoSeedMolluscsFAO (1344, 4) (387, 4)
AgFishtoSeedAqAnimalsFAO (1311, 4) (243, 4)
AgFishImportsFreshwaterFAO (2147, 4) (8499, 4)
AgFishImportsDemersalFAO (2147, 4) (8307, 4)
AgFishImportsPelagicFAO (2147, 4) (8451, 4)
AgFishImportsMarineFAO (2081, 4) (7779, 4)
AgFishImportsCrustaceansFAO (2147, 4) (8451, 4)
AgFishImportsCephalopodsFAO (2147, 4) (8211, 4)
AgFishImportsMolluscsFAO (2147, 4) (8211, 4)
AgFishImportsAqAnimalsFAO (2125, 4) (5187, 4)
AgFishImportsAqPlantsFAO (2147, 4) (7539, 4)
AgFishImportsBodyOilFAO (2059, 4) (7683, 4)
AgFishImportsLiverOilFAO (2004, 4) (6867, 4)
AgCerealsIm (2147, 4) (8547, 4)
AgPulsesIm (2147, 4) (8499, 4)
AgMeatIm (2147, 4) (8547, 4)
AgFishExportsFreshwaterFAO (2147, 4) (7923, 4)
AgFishExportsDemersalFAO (2037, 4) (7443, 4)
AgFishExportsPelagicFAO (2147, 4) (8067, 4)
AgFishExportsMarineFAO (2070, 4) (7587, 4)
AgFishExportsCrustaceansFAO (2070, 4) (7779, 4)
AgFishExportsCephalopodsFAO (1938, 4) (6579, 4)
AgFishExportsMolluscsFAO (2015, 4) (6675, 4)
AgFishExportsAqAnimalsFAO (1784, 4) (4131, 4)
AgFishExportsAqPlantsFAO (1861, 4) (5331, 4)
AgFishExportsBodyOilFAO (1619, 4) (5907, 4)
AgFishExportsLiverOilFAO (1443, 4) (4707, 4)
AgCerealsEx (2147, 4) (8451, 4)
AgPulsesEx (2114, 4) (7731, 4)
AgMeatEx (2136, 4) (8067, 4)

# Import

In [2]:
dd = pd.read_excel("DataDict.xlsx",sheet_name = 'import')
dd.shape

(160, 10)

In [25]:
conn = sqlite3.connect('IFsDataImport.db')
cursor = conn.cursor()
#
for tb in dd.Table:
    v = tb.replace("Series","")
    #v = v.replace("Rev23","")
    print(v)
    dt = pd.read_csv(f"IFs Import/{v}.csv")
    sql_drop_table = f"DROP TABLE IF EXISTS [{tb}];"
    sql_create_table = f"CREATE TABLE [{tb}] (Country VARCHAR (255), FIPS_CODE VARCHAR (255), "
    for c in dt.columns[2:]:
        sql_create_table += f"[{c}] DOUBLE(53),"
    sql_create_table = sql_create_table[:-1] + ");"
    cursor.execute(sql_drop_table)
    cursor.execute(sql_create_table)
    dt.to_sql(name=f'{tb}', con=conn, if_exists="append", index=False)
    conn.commit()
#dd_update.to_sql(name=f'DataDict', con=conn, if_exists="replace", index=False)
conn.close()

AGCropDomesticSupplyFAO
AGCropExportsFAO
AgFishtoOtherUtilFreshwaterFAO
AgFishtoOtherUtilDemersalFAO
AgFishtoOtherUtilPelagicFAO
AgFishtoOtherUtilMarineFAO
AgFishtoOtherUtilCrustaceansFAO
AgFishtoOtherUtilCephalopodsFAO
AgFishtoOtherUtilMolluscsFAO
AgFishtoOtherUtilAqAnimalsFAO
AgFishtoOtherUtilAqPlantsFAO
AgFishtoOtherUtilBodyOilFAO
AgFishtoOtherUtilLiverOilFAO
AGCroptoFeedFAO
AGCroptoFoodFAO
AGCropCalPerCapPerDayFAO
AGCropFoodSupplyPerCapPerDayFAO
AGCropImportsFAO
AGCroptoWasteFAO
AGCroptoOtherUtilFAO
AGCroptoFoodManuFAO
AGCropProductionFAO
AGCropProteinPerCapPerDayFAO
AGCroptoSeedFAO
AgFruVegEx
AgFruVegIm
AGMeatDomesticSupplyFAO
AGMeatExportsFAO
AgMeatEx
AGMeattoFeedFAO
AGMeattoFoodFAO
AGMeatCalPerCapPerDayFAO
AGMeatFoodSupplyPerCapPerDayFAO
AGMeatImportsFAO
AgMeatIm
AGMeattoWasteFAO
AGMeattoOtherUtilFAO
AGMeattoFoodManuFAO
AGMeatProductionFAO
AgFishFoodSupplyPerCapPerDayFreshwaterFAO
AgFishFoodSupplyPerCapPerDayDemersalFAO
AgFishFoodSupplyPerCapPerDayPelagicFAO
AgFishFoodSupplyPerCapPerDayMarineFAO
AgFishFoodSupplyPerCapPerDayCrustaceansFAO
AgFishFoodSupplyPerCapPerDayCephalopodsFAO
AgFishFoodSupplyPerCapPerDayMolluscsFAO
AgFishFoodSupplyPerCapPerDayAqAnimalsFAO
AgFishFoodSupplyPerCapPerDayAqPlantsFAO
AgFishFoodSupplyPerCapPerDayBodyOilFAO
AgFishFoodSupplyPerCapPerDayLiverOilFAO
AgFishCalPerCapPerDayFreshwaterFAO
AgFishCalPerCapPerDayDemersalFAO
AgFishCalPerCapPerDayPelagicFAO
AgFishCalPerCapPerDayMarineFAO
AgFishCalPerCapPerDayCrustaceansFAO
AgFishCalPerCapPerDayCephalopodsFAO
AgFishCalPerCapPerDayMolluscsFAO
AgFishCalPerCapPerDayAqAnimalsFAO
AgFishCalPerCapPerDayAqPlantsFAO
AgFishCalPerCapPerDayBodyOilFAO
AgFishCalPerCapPerDayLiverOilFAO
AgFishProteinPerCapPerDayFreshwaterFAO
AgFishProteinPerCapPerDayDemersalFAO
AgFishProteinPerCapPerDayPelagicFAO
AgFishProteinPerCapPerDayMarineFAO
AgFishProteinPerCapPerDayCrustaceansFAO
AgFishProteinPerCapPerDayCephalopodsFAO
AgFishProteinPerCapPerDayMolluscsFAO
AgFishProteinPerCapPerDayAqAnimalsFAO
AgFishProteinPerCapPerDayAqPlantsFAO
AgFishProteinPerCapPerDayBodyOilFAO
AgFishProteinPerCapPerDayLiverOilFAO
AgFishtoFoodFreshwaterFAO
AgFishtoFoodDemersalFAO
AgFishtoFoodPelagicFAO
AgFishtoFoodMarineFAO
AgFishtoFoodCrustaceansFAO
AgFishtoFoodCephalopodsFAO
AgFishtoFoodMolluscsFAO
AgFishtoFoodAqAnimalsFAO
AgFishtoFoodAqPlantsFAO
AgFishtoFoodBodyOilFAO
AgFishtoFoodLiverOilFAO
AgFishDomesticSupplyFreshwaterFAO
AgFishDomesticSupplyDemersalFAO
AgFishDomesticSupplyPelagicFAO
AgFishDomesticSupplyMarineFAO
AgFishDomesticSupplyCrustaceansFAO
AgFishDomesticSupplyCephalopodsFAO
AgFishDomesticSupplyMolluscsFAO
AgFishDomesticSupplyAqAnimalsFAO
AgFishDomesticSupplyAqPlantsFAO
AgFishDomesticSupplyBodyOilFAO
AgFishDomesticSupplyLiverOilFAO
AgBovineMeatProductionFAO
AgMuttonandGoatMeatProductionFAO
AgPigMeatProductionFAO
AgPoultryMeatProductionFAO
AgMeatOtherProductionFAO
AgFishProdFreshwaterFAO
AgFishProdDemersalFAO
AgFishProdPelagicFAO
AgFishProdMarineFAO
AgFishProdCrustaceansFAO
AgFishProdCephalopodsFAO
AgFishProdMolluscsFAO
AgFishProdAqAnimalsFAO
AgFishProdAqPlantsFAO
AgFishProdBodyOilFAO
AgFishProdLiverOilFAO
AgProdCereals
AgProdRootsTub
AgProdPulses
AgProdFruitsExclMelons
AgFishtoFeedFreshwaterFAO
AgFishtoFeedDemersalFAO
AgFishtoFeedPelagicFAO
AgFishtoFeedMarineFAO
AgFishtoFeedCrustaceansFAO
AgFishtoFeedCephalopodsFAO
AgFishtoFeedMolluscsFAO
AgFishtoFeedAqPlantsFAO
AgFishtoFeedBodyOilFAO
AgFishtoFeedLiverOilFAO
AgFishtoSeedFreshwaterFAO
AgFishtoSeedDemersalFAO
AgFishtoSeedPelagicFAO
AgFishtoSeedMarineFAO
AgFishtoSeedCrustaceansFAO
AgFishtoSeedCephalopodsFAO
AgFishtoSeedMolluscsFAO
AgFishtoSeedAqAnimalsFAO
AgFishImportsFreshwaterFAO
AgFishImportsDemersalFAO
AgFishImportsPelagicFAO
AgFishImportsMarineFAO
AgFishImportsCrustaceansFAO
AgFishImportsCephalopodsFAO
AgFishImportsMolluscsFAO
AgFishImportsAqAnimalsFAO
AgFishImportsAqPlantsFAO
AgFishImportsBodyOilFAO
AgFishImportsLiverOilFAO
AgCerealsIm
AgPulsesIm
AGMeatProteinPerCapPerDayFAO
AgFishExportsFreshwaterFAO
AgFishExportsDemersalFAO
AgFishExportsPelagicFAO
AgFishExportsMarineFAO
AgFishExportsCrustaceansFAO
AgFishExportsCephalopodsFAO
AgFishExportsMolluscsFAO
AgFishExportsAqAnimalsFAO
AgFishExportsAqPlantsFAO
AgFishExportsBodyOilFAO
AgFishExportsLiverOilFAO
AgCerealsEx
AgPulsesEx
AGMeattoSeedFAO